p{
    font-size: 20px;
}

h3 {
    font-size: 50px;
}

body{
    margin-top: 5%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#center{
    text-align: center;
}

html{
    background-color: rgb(154, 248, 255);
}

.navbar-dark{
    overflow: hidden;
    background-color:  rgb(80, 178, 185);
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
}

.navbar-dark a {
    float: left;
    display: block;
    font-size: 24px;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
  }

.navbar-dark a:hover{
    background-color: darkblue;
    color: white;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav {
    float: left;
}